{% extends 'blog_part/base.html' %}
{% load staticfiles %}


{% block posts %}
      
      <div class="row">
        
        <div class="col-sm-8 blog-main">
        {% block posts_detail%}
           <div class="row">
             
              <div class="col-md-12" style="margin: 30px auto;">
                <div id="postlist">
                  
                  {% for post in post_list %}

                  <div class="panel">
                    <div class="panel-heading">
                      <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">{{post.title|truncatewords:"5"}}</h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                <small><em>{{post.published_date|date:"d M Y"}}<br>{{post.published_date|time:"H:i"}}</em></small>
                                </h4>
                            </div>
                        </div>
                      </div>
                    </div>

                  

                  {%if post.text|wordcount > 10 %}
                  <div class="panel-body">
                  {{post.text|truncatewords:"10"}} <a href="{% url 'blog_part:detail' post.id %}">Read more</a>
                  </div>
                  {% else %}
                  <div class="panel-body">
                    {{post.text|truncatewords:"10"}}
                  </div>
                  {% endif %}
                  

                    <div class="panel-footer">
                        <span class="label label-default">{{post.title|truncatewords:"5"}}</span> <span class="label label-default">{{post.created_date}}</span> <span class="label label-default">{{post.created_date|time:"H:i"}}</span>
                    </div>
                  </div>

                  {% endfor %}<!-- end post_list -->
                  
                </div>
              </div>
            </div>
     
        {% if is_paginated %}
        {# <ul class="pager"> #}
          <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>Page: {{ i }} of {{ paginator.num_pages }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            {# <li><a href="?page={{ i }}">{{ i }}</a></li> #}
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
          </ul>
        {% endif %}
            
          {% endblock posts_detail%}
        
  
        </div><!-- /.blog-main -->
        
          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module ">
          {% if user.is_authenticated %}
            

            
              <div class="login-container">
                <div class="form-box-1">
                  <div class="avatar cat">
                    <img class="cat" src="{% static 'img/other_cat.png' %}" alt="..."></div>
                  <div class="form-box">
                    <p> Hello, {{user.username}}! </p>
                    <a href="{% url 'blog_part:logout' %}" class="btn btn-warning btn-block login a-button" type="submit">Logout</a>
                  </div>
                </div>
              
             </div> 
            {% else %}
            <div class="login-container">
              <div class="form-box-1">

                  <a href="{% url 'blog_part:login' %}" class="btn btn-info btn-block login a-button" type="submit">Login</a>
                  <a href="{% url 'blog_part:sign-up'%}" class="btn btn-primary btn-block sign-up a-button" type="submit">Sign up</a>
                </div>
              </div>
            
            {% endif %} 
            </div>
            <div class="sidebar-module">
              <h4>Archives</h4>
              <ol class="list-unstyled form-box-1">
                <li><a href="#">January 2014</a></li>
                <li><a href="#">December 2013</a></li>
                <li><a href="#">November 2013</a></li>
                <li><a href="#">October 2013</a></li>
                <li><a href="#">September 2013</a></li>
                <li><a href="#">August 2013</a></li>
                <li><a href="#">July 2013</a></li>
                <li><a href="#">June 2013</a></li>
                <li><a href="#">May 2013</a></li>
                <li><a href="#">April 2013</a></li>
                <li><a href="#">March 2013</a></li>
                <li><a href="#">February 2013</a></li>
              </ol>
            </div>
            <div class="sidebar-module">
              <h4>Elsewhere</h4>
              <ol class="form-box-1 list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
              </ol>
            </div>
            
             
            </div>
            
            
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    
{%endblock%}