{% extends 'blog_part/base.html' %}
{% load staticfiles %}


{% block posts %}
      
      <div class="row">
        
        <div class="col-sm-8 blog-main">
        {% block posts_detail%}
           <div class="row">
             
              <div class="col-md-12" style="margin: 30px auto;">
                <div id="postlist">
                  
                  {% for post in post_list %}

                  <div class="panel">
                    <div class="panel-heading">
                      <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">{{post.title|truncatewords:"5"}}</h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                <small><em>{{post.published_date|date:"d M Y"}}<br>{{post.published_date|time:"H:i"}}</em></small>
                                </h4>
                            </div>
                        </div>
                      </div>
                    </div>

                  

                  {%if post.text|wordcount > 30 %}
                  <div class="panel-body" >
                  <p style="text-indent: 30px; text-align: justify; ">{{post.text|truncatewords:"30"}} </p><a style="float:right" href="{% url 'blog_part:detail' post.id %}">Read more</a>
                    <a href="{% url 'blog_part:detail' post.id %}">Comments: {{ post.approved_comments.count }}</a>
                  </div>
                  {% else %}
                  <div class="panel-body">
                   <p> {{post.text}} ... </p><a style="float:right" href="{% url 'blog_part:detail' post.id %}">Read more</a><a href="{% url 'blog_part:detail' post.id %}">Comments: {{ post.approved_comments.count }}</a>
                  </div>
                  {% endif %}
                  

                    <div class="panel-footer">
                        <span class="label label-default">{{post.title|truncatewords:"5"}}</span> <span class="label label-default">{{post.created_date}}</span>
                         {# <span class="label label-default">{{post.created_date|time:"H:i"}}</span> #}
                    </div>
                  </div>

                  {% endfor %}<!-- end post_list -->
                  
                </div>
              </div>
            </div>
     
        {% if is_paginated %}
        {# <ul class="pager"> #}
          <ul class="pagination">
          {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>Page: {{ i }} of {{ paginator.num_pages }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            {# <li><a href="?page={{ i }}">{{ i }}</a></li> #}
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
          </ul>
        {% endif %}
            
          {% endblock posts_detail%}
        
  
        </div><!-- /.blog-main -->
        
          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module ">
          
            </div>
           
            
            <div class="sidebar-module">
              <h4>Elsewhere</h4>
               <form action="/search/" method="get"> {% csrf_token %}
                  <input type="text" name="q">
                  <input type="submit" value="Search">
            </form>
              <ol class="form-box-1 list-unstyled">
                <li><a href="https://github.com/evmon">GitHub</a></li>
                <li><a href="https://vk.com/ev_mon">VK</a></li>
                <li><a href="https://www.facebook.com/Zheni.Sai">Facebook</a></li>
              </ol>
            </div>
            
             
            </div>
            
            
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    
{%endblock%}